#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
geonames.db filter=lfs diff=lfs merge=lfs -text
ephe/sepl_66.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm42.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_150.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_12.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom102.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom72.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_72.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm30.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm54.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_132.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_54.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_126.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_96.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom120.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom36.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_144.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_162.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_00.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_102.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_84.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_54.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm126.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm18.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_72.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_06.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom108.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom96.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm66.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm90.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_120.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_18.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom78.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_24.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm24.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom132.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom54.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm114.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_30.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_42.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_150.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm48.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm78.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_90.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_132.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom60.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_156.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_30.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_90.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_78.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom48.se1 filter=lfs diff=lfs merge=lfs -text
ephe/fixstars.cat filter=lfs diff=lfs merge=lfs -text
ephe/sepl_78.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_162.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom66.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_00.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_108.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_126.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_96.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_108.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_144.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm84.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom18.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom42.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_114.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_60.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm102.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm132.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_24.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom06.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm60.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm72.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_156.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_36.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_42.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_60.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom114.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom126.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom30.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_114.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_12.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_138.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm06.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm120.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm96.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom84.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom90.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_84.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_102.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_18.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_36.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm108.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_138.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_48.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom12.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semom24.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_120.se1 filter=lfs diff=lfs merge=lfs -text
ephe/sepl_48.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm12.se1 filter=lfs diff=lfs merge=lfs -text
ephe/seplm36.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_06.se1 filter=lfs diff=lfs merge=lfs -text
ephe/semo_66.se1 filter=lfs diff=lfs merge=lfs -text
